// Variables

$black: #000000;
$white: #ffffff;
$yellow: #ffd710;

$grey-1: #0d0d0d;
$grey-2: #1a1a1a;
$grey-3: #262626;
$grey-4: #333333;
$grey-5: #404040;
$grey-6: #4d4d4d;
$grey-7: #595959;
$grey-8: #666666;
$grey-9: #737373;
$grey-10: #808080;
$grey-11: #8c8c8c;
$grey-12: #999999;



