// Mixins
@mixin zero{
  margin: 0;
  padding: 0;
}

@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin form($text-color){        //⬅︎ The argument passed is in the round brackets
  height: 18.75em;
  width: 35em;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-family: "Bebas Neue", Arial;
  color: $text-color;
  }
  
  @mixin box($color) {
  background-color: $color;
  }
  
