@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	color:000000;
}


*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
}


.form-w {
   @include form($white)
}

.form > div {
  height: 6.25em;
  width: 100%;
}

.box-1 {
@include box($grey-1);
top: 6.25em;
}

.box-2 {
@include box($grey-2);
top: 12.5em;
}

.box-3 {
@include box($grey-3);
top: 18.75em;
}

.box-4 {
@include box($grey-4);
top: 25em;
}

.box-5 {
@include box($grey-5);
top: 31.25em;
}

.box-6 {
@include box($grey-6);
top: 37.5em;
}

.box-7 {
@include box($grey-7);
top: 43.75em;
}

.box-8 {
@include box($grey-8);
top: 50em;
}

.box-9 {
@include box($grey-9);
top: 56.25em;
}

.box-10 {
@include box($grey-10);
top: 62.55em;
}

.box-11 {
@include box($grey-11);
top: 68.75em;
}

.box-12 {
@include box($grey-12);
top: 75em;
}

.black-box {
  background-color: #000000;
}

.black-box::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: none;
  border-width: 0.5em 0.469em 0 0.469em;
  border-color: #404241 transparent transparent transparent;
  top: 12.5em;
  left: 50%;
  margin-left: -0.496em;
}

.login {
  background-color: #ffd710;
  display: table;
}

.login span {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  height: 2.25em;
  width: 35em;
  font-size: 2em;
  text-align:center;
  border: 0;
  outline: 0;
  color: #fff;
  background: transparent;
  margin-left: 2.1875em;
  margin-top: 1em;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  height: 1.25em;
  width: 15.125em;
  font-size: 1.8em;
  text-align: center;
  border: 0;
  outline: 0;
  color: #fff;
  background: transparent;
  margin-left: 2.1875em;
  margin-top: 1em;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


::placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}